header.header
    .header__top-section
        .header__logo
            .header__logo-text B
        .header__left-text 
            a(href="#!") private banking
        .header__left-text 
            a(href="#!") О банке
    .header__right-text
        a(href="#!") Офисы и банкоматы
    .header__right-text 
        a(href="#!") En
    .header__look
            span.icon-Look
    .header__search
            span.icon-Search
    .header__toggler
            span.icon-menu
    .header__tel 
        a(href="tel:+74959568626") +7 (495) 956–86–26
             

