header.header
    .header__logo B
    .header__right-icons
        span.icon-Search
        span.icon-menu#icon-menu
ul.header__menu
    li.header__main-item
        a(href="#!").header__main-item-dropdown Частным клиентам
                li.header__for-person-list-item 
                    a Платежный сервис
                li.header__for-person-list-item  
                    a Монеты
                li.header__for-person-list-item  
                    a Вклады
                li.header__for-person-list-item  
                    a Банковские карты
                li.header__for-person-list-item  
                    a Кридитование физических лиц
                li.header__for-person-list-item  
                    a Операции с наличной иностранной валютой
                li.header__for-person-list-item  
                    a Тарифы
                li.header__for-person-list-item  
                    a Текущие счета
                li.header__for-person-list-item 
                    .top-img
                        img(src="media/top4.png")
                        
    li.header__main-item
        a(href="#!").header__main-item-dropdown  Корпоративным клиентам
    li.header__main-item
        a(href="#!").header__main-item-dropdown  Услуги на рынке ценных бумаг
    li.header__main-item
        a(href="#!").header__main-item-dropdown  О банке
    li.header__main-item 
        a(href="#!") Private banking
    li.header__main-item 
        a(href="#!") Специальная версия для людей с ограниченными возможностями
    li.header__main-item.tel 
        a(href="#!").tel +7 495 956 86 26
    
                
                    
            
        