header.header
    .header__left-text
        .header__logo B
        .header__banking_desktop 
            a(href="#!") Private banking
        .header__about-bank_desktop 
            a(href="#!")#header__about-bank-button_desktop О банке
    .header__right-icons
        .office
            a(href="#!") Офисы и банкоматы
        .lang
            a(href="#!") EN
        a(href="#!")
            span.icon-Look
        span.icon-Search
        span.icon-menu#icon-menu
        a(href="tel:84959568626").header__tel-desktop +7 495 956 86 26
.header__about-bank-block_desktop
    ul
        li
            a(href="#!") Для юридических лиц
        li
            a(href="#!") Резервный канал
        li
            a(href="#!") Для частных клиентов
        li
            a(href="#!") Личный кабинет инвестора
        li
            a(href="#!") Перевод с карты на карту
        li
            a(href="#!") Samsung Pay
    .header__about-bank-block-close_desktop
        a.icon-Close#header__about-bank-button-close_desktop
.header__mobile-menu
    ul.header__menu
        li.header__main-item#for-person
            a(href="#!").header__main-item-dropdown#for-person-dropdown Частным клиентам
        li.header__for-person-list-item 
            a(href="#!") Платежный сервис
        li.header__for-person-list-item  
            a(href="#!") Монеты
        li.header__for-person-list-item  
            a(href="#!") Вклады
        li.header__for-person-list-item  
            a(href="#!") Банковские карты
        li.header__for-person-list-item  
            a(href="#!") Кридитование физических лиц
        li.header__for-person-list-item  
            a(href="#!") Операции с наличной иностранной валютой
        li.header__for-person-list-item  
            a(href="#!") Тарифы
        li.header__for-person-list-item  
            a(href="#!") Текущие счета
        li.header__for-person-list-item 
            .header__top-img
                 img(src="media/top4.png")
            .header__img-text Интернет-банк для частных лиц
            .header__request-container
                a(href="#!").btn Подать заявку
                
                
                
        li.header__main-item#for-corp
            a(href="#!").header__main-item-dropdown#for-corp-dropdown  Корпоративным клиентам
        li.header__for-corp-list-item 
            a(href="#!") Интернет-банк
        li.header__for-corp-list-item  
            a(href="#!") Рассчетно-кассовое обслуживание
        li.header__for-corp-list-item  
            a(href="#!") Как стать клиентом
        li.header__for-corp-list-item  
            a(href="#!") Кредитные сделки
        li.header__for-corp-list-item  
            a(href="#!") Тарифы
        li.header__for-corp-list-item  
            a(href="#!") Валютный контроль
        li.header__for-corp-list-item  
            a(href="#!") Управление проектного и структурного финансирования
        li.header__for-corp-list-item  
            a(href="#!") Корпоративное финансирование
        li.header__for-corp-list-item  
            a(href="#!") Организация операционно-кассового подразделения
        li.header__for-corp-list-item  
            a(href="#!") Войти в интернет-банк для юридических лиц
        li.header__for-corp-list-item  
            a(href="#!") Векселя
        li.header__for-corp-list-item  
            a(href="#!") Торговое финансирование и экспортно-импортные операции
        li.header__for-corp-list-item  
            a(href="#!") Инкассация 
        li.header__for-corp-list-item 
            .header__top-img-corp
                 img(src="media/top5.png")
            .header__img-text-corp Интернет-банк для юридических лиц
            .header__request-container
                a(href="#!").btn Подать заявку
        
        
        
        li.header__main-item
            a(href="#!").header__main-item-dropdown  Услуги на рынке ценных бумаг
        li.header__main-item
            a(href="#!").header__main-item-dropdown  О банке
        li.header__main-item 
            a(href="#!") Private banking
        li.header__main-item 
            a(href="#!") Специальная версия для людей с ограниченными возможностями
        li.header__main-item.header__tel 
            a(href="tel:84959568626").header__tel +7 495 956 86 26
.header__menu
    ul.header__main-header-menu
        .header__main-header-menu-items
            li.header__main-header-menu-item#for-person-tablet
                a(href="#!")#for-person-tablet-link Частным клиентам
            li.header__main-header-menu-item
                a(href="#!") Корпоративным клиентам
            li.header__main-header-menu-item
                a(href="#!") Услуги на ранке ценных бумаг
        .header__desktop-search
            li
                a(href="#!").icon-Search
    .header__for-person-block
        .header__inline
            ul.header__for-person-list
                li.header__for-person-list-item
                    a(href="#!") Платежный сервис
                li.header__for-person-list-item
                    a(href="#!") Монeты
                li.header__for-person-list-item
                    a(href="#!") Вклады
                li.header__for-person-list-item
                    a(href="#!") Банковские карты
                li.header__for-person-list-item
                    a(href="#!") Кредитование физических лиц
                li.header__for-person-list-item
                    a(href="#!") Операции с наличной иностранной валютой
                li.header__for-person-list-item
                    a(href="#!") Тарифы
                li.header__for-person-list-item
                    a(href="#!") Текущие счета
            .header__signIn-container
                .header__signInimage
                    .header__top-img
                        img(src="media/top4.png" alt="Войти в личный каинет" title="Войти в личный кабинет")
                .header__signIn
                    .header__signIn-text Интернет-банк для частных лиц
                    a(href="#!").btn Войти в личный кабинет
        .header__about-bank-container
            .header__title-about 
                a(href="#!").header__about-bank-drop#header__about-bank_tablet О банке
                ul.header__about-bank-list
                    li
                        a(href="#!") Для юридических лиц
                    li
                        a(href="#!") Резервный канал
                    li
                        a(href="#!") Для частных клиентов
                    li
                        a(href="#!") Личный кабинет инвестора
                    li
                        a(href="#!") Перевод с карты на карту
                    li
                        a(href="#!") Samsung Pay
        .header__contacts
            .private 
                a(href="#!") Private banking
            .tel
                a(href="tel:84959568626") +7 495 956 86 26
           
        