.servicesSlider
    .servicesSlider__slider-container
        h4 Услуги на рынке ценных бумаг
        .owl-carousel.owl-theme.owl-carousel-2
            .item-2
                p 1
            .item-2
                p 2
            .item-2
                p 3
.customDots