.servicesSlider
    .servicesSlider__slider-container
        h4 Услуги на рынке ценных бумаг
        .owl-carousel.owl-theme.owl-carousel-2
            .info-block.info-block_slide1
                .info-block__container
                    .info-block__content
                        .info-block__type Брокерское обслуживание
                        .info-block__title Персональное брокерское обслуживание в банке
                        .info-block__text Бесплатный ввод и вывод денежных средств (российские рубли в наличной и безналичной форме)
                img(src="media/servicesSlider1.png").info-block__image
                .info-block__footer
                    a(href="#!") Подать заявку
                    span.icon-go
            .info-block.info-block_slide2
                .info-block__container
                    .info-block__content
                        .info-block__type Еврооблигации
                        .info-block__title Еврооблигации для всех. Продажа еврооблигаций
                        .info-block__text Фиксированная доходность выше, чем по банковскому вкладу
                    .info-block__image
                        img(src="media/servicesSlider2.png")
                .info-block__footer
                    a(href="#!") Подать заявку
                    span.icon-go
.customDots