.servicesSlider {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.servicesSlider__slider-container {
    width: 1170px;

    h4 {
        font-family: G-bold;
        font-size: 35px;
        line-height: 80px;
        margin-bottom: 21px;
    }

}

.owl-carousel-2 {
    .owl-item {
        overflow: hidden;
    }
}

.customDots {
    display: none;

    .customDot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: $gray-darken-2;
        border: none;
        margin-left: 10px;
    }

    .active {
        background: $deep-blue !important;
    }
}

//102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024
@media screen and (max-width: 1919px) {
    .servicesSlider {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }
    .servicesSlider__slider-container {
        width: 890px;

        h4 {
            font-family: G-bold;
            font-size: 35px;
            line-height: 80px;
            margin-bottom: 21px;
        }

    }
}

//768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768
@media screen and (max-width: 1023px) {
    .servicesSlider {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
    }
    .servicesSlider__slider-container {
        width: 100%;

        h4 {
            margin-bottom: 21px;
            margin-left: 90px;
        }

        .owl-carousel-2 {
            .owl-item {
                max-width: 588px !important;

                .active {
                    max-width: 588px !important;
                }
            }
        }
    }
}

//320320320320320320320320320320320320320320320320320320320320320320320320320320320
@media screen and (max-width: 767px) {
    .servicesSlider {
        margin-top: 46px;
        display: flex;
        justify-content: center;
    }

    .servicesSlider__slider-container {
        width: 281px;

        h4 {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 21px;
            margin-left: 0px;
        }

        .owl-carousel-2 {
            .owl-item {
                max-width: 100% !important;

                .active {
                    max-width: 100% !important;
                }
            }
        }
    }

    .customDots {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
