.servicesSlider
    .servicesSlider__slider-container
        h4 Услуги на рынке ценных бумаг
        .owl-carousel.owl-theme.owl-carousel-2
            .item-2.item-2_slide1
                .servicesSlider__slide-container
                    .servicesSlider__slide-content
                        .servicesSlider__slide-type Брокерское обслуживание
                        .servicesSlider__slide-title Персональное брокерское обслуживание в банке
                        .servicesSlider__slide-text Бесплатный ввод и вывод денежных средств (российские рубли в наличной и безналичной форме)
                img(src="media/servicesSlider1.png").servicesSlider__slide-image
                .servicesSlider__slide-footer
                    a(href="#!") Подать заявку
                    span.icon-go
            .item-2.item-2_slide2
                .servicesSlider__slide-container
                    .servicesSlider__slide-content
                        .servicesSlider__slide-type Еврооблигации
                        .servicesSlider__slide-title Еврооблигации для всех. Продажа еврооблигаций
                        .servicesSlider__slide-text Фиксированная доходность выше, чем по банковскому вкладу
                    .servicesSlider__slide-image
                        img(src="media/servicesSlider2.png")
                .servicesSlider__slide-footer
                    a(href="#!") Подать заявку
                    span.icon-go
.customDots