extends template.pug
block vars
    - var pageTitle="Главная"
block header
    include ../blocks/header/header.pug
    include ../blocks/slider/slider.pug 
    include ../blocks/servicesSlider/servicesSlider.pug 
    .flex-container
        .main-container
            include ../blocks/finance/finance.pug 
            include ../blocks/grid/grid.pug 
block content
block footer        