.finance
    .finance__menu
        .finance__rate-toggler 
            a(href="#!") Валюта
            .finance__date
        .finance__coins-toggler
            a(href="#!") Монеты
    .finance__info
        .info-block.info-block_rate
            .info-block__container
                .info-block__content
                    p тут будет таблица
            .info-block__footer
                a(href="#!") Курсы валют в отделениях Банка
                span
        .info-block.info-block_coins
            .info-block__container
                .info-block__content
                    p тут будет таблица
            .info-block__footer
                a(href="#!") Каталог монет
                span