.footer__lists
    ul.footer__list
        li.footer__list-item-dropdown
            span.footer__list-item-dropdown-1 О банке
            ul.footer__dropdown-list-1
                li.footer__list-item 
                    a(href="#!") Реквизиты
                li.footer__list-item 
                    a(href="#!") Раскрытие информации
                li.footer__list-item 
                    a(href="#!") Процентные ставки по вкладам физ. лиц
                li.footer__list-item 
                    a(href="#!") Список лиц, под контролем либо значительным влиянием которых находится Банк
    ul.footer__list
        li.footer__list-item-dropdown
            span.footer__list-item-dropdown-2 Частым клиентам
            ul.footer__dropdown-list-2
                li.footer__list-item 
                    a(href="#!") Банковские карты
                li.footer__list-item 
                    a(href="#!") Вклады
                li.footer__list-item 
                    a(href="#!") Тарифы
                li.footer__list-item 
                    a(href="#!") Защитные признаки банкнот Банка России
    ul.footer__list
        li.footer__list-item-dropdown
            span.footer__list-item-dropdown-3 Корпоративным клиентам
            ul.footer__dropdown-list-3
                li.footer__list-item 
                    a(href="#!") Как стать клиентом
                li.footer__list-item 
                    a(href="#!") Кредитование
                li.footer__list-item 
                    a(href="#!") Интернет-банк
    ul.footer__list
        li.footer__list-item-dropdown
            span.footer__list-item-dropdown-4 Услуги РЦБ
            ul.footer__dropdown-list-4
                li.footer__list-item 
                    a(href="#!") Доступ на валютный рынок
                li.footer__list-item 
                    a(href="#!") Брокерское обслуживание
                li.footer__list-item 
                    a(href="#!") Открыть брокерский счет
                li.footer__list-item 
                    a(href="#!") Еврооблигации
                li.footer__list-item 
                    a(href="#!") Торговля на ММВБ
                li.footer__list-item 
                    a(href="#!") Облигации
                li.footer__list-item 
                    a(href="#!") QUIK трейдинг
                li.footer__list-item 
                    a(href="#!") Transaq