.btn {
    height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white !important;
    text-decoration: none;
    user-select: none;
    background: $deep-blue;
    outline: none;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .btn {
        height: 45px;
    }
}

