.owl-carousel-1.owl-carousel.owl-theme
    .item
        .slider__content
            .slider__title Центр для успешных инвестиций
            .slider__text Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
            .slider__btn
                .btn 
                    a(href="#!") Подать заявку
        .slider__image
            img(src="media/sliderMan.png" alt="image")
    .item
        .slider__content
            .slider__title Центр для успешных инвестиций 2
            .slider__text Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
            .slider__btn
                .btn Подать заявку
        .slider__image
            img(src="media/sliderMan.png" alt="image")
    .item
        .slider__content
            .slider__title Центр для успешных инвестиций 3
            .slider__text Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
            .slider__btn
                .btn 
                    a(href="#!") Подать заявку
        .slider__image
            img(src="media/sliderMan.png" alt="image")