.owl-carousel-1 {
    .item {
        background: #CEDEEC;
        width: 100%;
        height: 590px;
        padding-left: 370px;
        position: relative;
    }
}

.owl-dots {
    margin-top: -115px;
    margin-left: 370px;
    height: 10px;
    z-index: 100;
    position: absolute;

    .active {
        background: $deep-blue !important;
    }
}

.owl-dot {
    background: $gray-darken-2 !important;
    border: none;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.slider__content {
    display: inline-block;
    .btn {
        max-width: 280px;
        margin-top: 50px;
    }
}

.slider__title {
    font-family: G-bold;
    width: 739px;
    font-style: normal;
    font-size: 70px;
    line-height: 80px;
    color: #000;
    padding-top: 100px;
}

.slider__text {
    font-family: G-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $gray-darken-5;
    margin-top: 22px;
    width: 481px;
}

.slider__image {
    position: absolute;
    display: inline-block;
    width: 422px;
    height: auto;
    margin-left: 71px;
    right: 688px;
    bottom: 0;

    img {
        width: 422px;
        height: auto;
    }
}

//1024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024102410241024
@media screen and (max-width: 1919px) {
    .owl-carousel-1 {
        .item {
            padding-left: 65px;
        }
    }

    .owl-dots {
        margin-top: -165px;
        margin-left: 65px;
    }

    .slider__content {
        display: inline-block;

        .btn {
            max-width: 250px;
            margin-top: 51px;
        }
    }

    .slider__title {
        width: 475px;
        font-size: 45px;
        line-height: 50px;
        padding-top: 113px;
    }

    .slider__text {
        font-family: G-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: $gray-darken-5;
        margin-top: 14px;
        width: 468px;
    }

    .slider__image {
        position: absolute;
        display: inline-block;
        width: 389px;
        height: auto;
        margin-left: 27px;
        right: 140px;
        bottom: 0;

        img {
            width: 389px;
            height: auto;
        }
    }
}

//768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768768
@media screen and (max-width: 1023px) {
    .owl-carousel-1 {
        .item {
            padding-left: 90px;
            height: 500px;
        }
    }

    .owl-dots {
        margin-top: -65px;
        margin-left: 90px;
    }

    .slider__content {
        display: inline-block;

        .btn {
            margin-top: 90px;
            max-width: 250px;
        }
    }

    .slider__title {
        width: 475px;
        padding-top: 55px;
    }

    .slider__text {
        font-family: G-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: $gray-darken-5;
        margin-top: 18px;
        width: 329px;
    }

    .slider__image {
        position: absolute;
        display: inline-block;
        width: 316px;
        height: auto;
        margin-left: 0px;
        right: 65px;

        img {
            width: 316px;
            height: auto;
            bottom: 0;
        }
    }
}

//320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320320
@media screen and (max-width: 767px) {
    .owl-carousel-1 {
        .item {
            padding-left: 19px;
            height: 280px;
        }
    }

    .owl-dots {
        margin-top: -45px;
        margin-left: 19px;
    }

    .slider__content {
        display: inline-block;

        .btn {
            max-width: 155px;
            max-height: 45px;
            margin-top: 14px;
            font-size: 12px;
            line-height: 30px;
        }
    }

    .slider__title {
        width: 211px;
        font-size: 20px;
        padding-top: 36px;
        line-height: 25px;
    }

    .slider__text {
        font-family: G-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $gray-darken-5;
        margin-top: 5px;
        width: 244px;
    }

    .slider__image {
        position: absolute;
        display: inline-block;
        width: 175px;
        height: auto;
        margin-left: 0px;
        right: -28px;
        bottom: 0;

        img {
            width: 175px;
            height: auto;
        }
    }
}
