.news
    .news__header
        .news__title Новости
        a(href="#!").news__link Архив новостей
    .news__content
        .news__block
            .news__date 26 июня 2019 года
            a(href="#!").news__text-title Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект
        .news__block
            .news__date 25 июня 2019 года
            a(href="#!").news__text-title Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект
        .news__block
            .news__date 26 апреля 2019 года
            a(href="#!").news__text-title Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект