.grid {
    display: grid;
    grid-template-areas:
        "money-market money-market money-protection"
        "remote-card card-mastercard card-mastercard"
}

.transfer {
    margin-top: 80px;
    grid-area: transfer;
    height: 275px;
    width: 100%;
    background: $gray-lighten;
    margin-bottom: 75px;
    position: relative;

    h6 {
        font-family: G-bold;
        font-size: 25px;
        width: 545px;
        padding-top: 60px;
        margin-left: 40px;
    }


    p {
        width: 425px;
        font-family: G-regular;
        font-size: 14px;
        margin-top: 15px;
        margin-left: 40px;
    }

    .deep-blue {
        color: $deep-blue;
    }

    .btn {
        width: 250px;
        margin-top: 25px;
        margin-left: 40px;
    }

    img {
        width: auto;
        height: 275px;
    }

    .transfer__image_1920 {
        position: absolute;
        right: 30px;
        top: 0
    }

    .transfer__image {
        display: none;
    }
}

.grid__money-market {
    grid-area: money-market;
    height: 380px;
    background: $gray-lighten;
    margin-bottom: 30px;
    margin-right: 30px;
}

.grid__money-protection {
    grid-area: money-protection;
    height: 380px;
    background: $gray-lighten;
    margin-bottom: 30px;
}

.grid__remote-card {
    grid-area: remote-card;
    height: 380px;
    background: $gray-lighten;
    margin-right: 30px;
}

.grid__card-mastercard {
    grid-area: card-mastercard;
    height: 380px;
    background: $gray-lighten;
}

@media screen and (max-width: 1919px) {
    .grid {
        display: grid;
        grid-template-areas:
            "money-market money-market"
            "money-protection remote-card"
            "card-mastercard card-mastercard"
    }

    .transfer {
        margin-top: 70px;
        margin-bottom: 80px;
        overflow: hidden;

        h6 {
            width: 416px;
            padding-top: 50px;
            margin-left: 30px;
        }


        p {
            width: 325px;
            font-size: 14px;
            margin-left: 30px;
        }

        .deep-blue {
            color: $deep-blue;
        }

        .btn {
            width: 250px;
            margin-top: 20px;
            margin-left: 30px;
        }

        img {
            width: auto;
            height: 275px;
        }

        .transfer__image_1920 {
            right: -60px;
        }
    }

    .grid__money-market {
        margin-right: 0;
    }

    .grid__money-protection {
        margin-right: 30px;
    }

    .grid__remote-card {
        margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .grid {
        display: grid;
        grid-template-areas:
            "money-market money-protection"
            "remote-card card-mastercard"
    }

    .transfer {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 330px;
        h6 {
            width: 225px;
            padding-top: 45px;
            margin-left: 30px;
            font-size: 20px;
            line-height: 25px;
        }


        p {
            width: 240px;
            font-size: 14px;
            margin-left: 30px;
            margin-top: 20px;
            line-height: 20px;
        }

        .deep-blue {
            color: $deep-blue;
        }

        .btn {
            width: 230px;
            margin-top: 25px;
            margin-left: 30px;
        }

        img {
            width: 400px;
            height: auto;
        }

        .transfer__image {
            position: absolute;
            right: -20px;
            top: -50px;
            display: block;
        }

        .transfer__image_1920 {
            display: none;
        }
    }

    .grid__money-market {
        margin-right: 30px;
    }

    .grid__money-protection {
        margin-right: 0;
    }

    .grid__remote-card {
        margin-right: 30px;
    }

    .grid__card-mastercard {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .transfer {
        width: 100%;
        height: 380px;
        margin-top: 30px;
        margin-bottom: 30px;

        h6 {
            width: 200px;
            padding-top: 55px;
            margin-left: 15px;
            z-index: 2;
            position: relative;
            font-size: 18px;
            line-height: 25px;
        }


        p {
            width: 247px;
            font-size: 14px;
            margin-left: 15px;
            margin-top: 10px;
            z-index: 2;
            position: relative;
            line-height: 20px;
        }

        .deep-blue {
            color: $deep-blue;
        }

        .btn {
            width: 145px;
            margin-top: 145px;
            margin-left: 15px;
            font-size: 12px;
            z-index: 2;
            position: relative
        }

        img {
            width: 280px;
            height: auto;
            z-index: 1;
        }

        .transfer__image {
            position: absolute;
            right: 0px;
            top: 95px;
            display: block;
            z-index: 1;
        }
    }

    .grid__money-market {
        margin: 0;
        height: 350px;
        width: 250px;
    }

    .grid__money-protection {
        margin: 0;
        height: 350px;
        width: 250px;
    }

    .grid__remote-card {
        margin: 0;
        height: 350px;
        width: 250px;
    }

    .grid__card-mastercard {
        margin: 0;
        height: 350px;
        width: 250px;
    }

    .owl-carousel-3 {
        .owl-item {
            width: 250px !important;
        }

        .active {
            width: 250px !important;
        }
    }
}
